<!DOCTYPE html>
<html>
<head>
  <title>Two Factor Auth Demo</title>
  <style>
    .errors {
      background:#ffcccc;
      padding:8px;
      padding-left:24px;
    }
  </style>
</head>
<body>
  <%== yield %>
</body>
</html>